<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 카메라 사용 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 인터넷 사용 권한: 카카오 API 호출에 필요 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 현재 위치 권한: 주변 피부과 검색에 필요 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 카메라 하드웨어 사용 명시 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- GPS 하드웨어 사용 명시 -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MelanoScan">

        <activity android:name=".AiResultActivity" />
        <activity android:name=".AiAnalysisActivity" />
        <activity android:name=".MeasurementDetailActivity" />
        <activity android:name=".LesionSelectActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".TrackingActivity" />
        <activity android:name=".MelanomaInfoActivity" />
        <activity android:name=".AbcdInfoActivity" />
        <activity android:name=".ShootingGuideActivity" />
        <activity android:name=".AbcdShapeAnalysisActivity" />
        <activity android:name=".Search_Hospital" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>